.home {
    display: flex;
    background-color: #eeeeee;
}

.books {
    /* margin-top: 20px; */
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}